[Unit]
Description=MQTT Starter Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /mqttForwarder/MQTT-Forwarder/mqttStarter.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
